node_modules/
dist/
target/
src-tauri/gen/android/app/build/
src-tauri/gen/android/build/
src-tauri/gen/android/.gradle/
src-tauri/gen/android/local.properties
src-tauri/gen/android/key.properties
src-tauri/gen/android/*.jks
src-tauri/gen/android/.idea/
src-tauri/gen/ios/
plugins/*/target/
plugins/*/android/build/
plugins/*/android/.gradle/
*.log
.DS_Store
.vscode/*
!.vscode/extensions.json
*.apk
*.tsbuildinfo
src-tauri/gen/android/app/src/main/jniLibs/
src-tauri/gen/android/app/.cxx/
